<!-- hamburger -->
<input type="checkbox" id="navi-toggle" class="checkbox" />
<label for="navi-toggle" class="button">
  <span class="icon">&nbsp;</span>
</label>
<div class="background">&nbsp;</div>

<!-- nav -->
<nav class="nav">
  <ul class="list">
    <li class="item"><a href="/">Home</a></li>
    <li class="item"><a href="../about">About</a></li>
    <li class="item"><a href="../create">Create</a></li>
    <li class="item"><a href="../contact">Contact</a></li>
  </ul>
</nav>
