<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %> <%- include("./partials/footer.ejs") %>
    <form>
      <label for="name">Your name:</label>
      <input type="text" />
      <textarea name="message" required></textarea>
    </form>
  </body>
</html>
