<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <header>
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" role="navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../">My blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="hamburgerNavButton"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../">Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li> <a class="nav-link" href="/create">Add Blog Post</a></li>
            <li> <a class="nav-link" href="/category">Add Category</a></li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
  <main>
    <div id="about">
      <h2 id="aboutMe">ABOUT</h2>
      <p>This is a project of a personal blog.</p>
      <p>I made this project for a Digital Nation course.</p>
      <p>
        This personal blog example is made with JavaScript, NodeJS and Express.
      </p>
    </div>
  </main>
    <footer>
      <%- include("../partials/footer"); %>
    </footer>
  </body>
</html>