<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2 id="aboutMe">ABOUT ME</h2>
      <p>This is a project of a personal blog.</p>
      <p>I made this project for a Digital Nation course.</p>
      <p>
        This personal blog example is made with JavaScript, NodeJS and Express.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
