<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="../../">My blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="hamburgerNavButton"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../../">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="navbarDropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
          <% typeof titleAllCategories != 'undefined' ? titleAllCategories : 'default' %>
          <% for(let i=0; i<titleAllCategories.length; i++) { %>
            <a class="dropdown-item" href="category/<%= idAllCategories[i] %>"><%= titleAllCategories[i] %></a>  
          <% } %>
          </li>
        </ul>
      </li>
      <li> <a class="nav-link" href="/create">Add Blog Post</a></li>
      <li> <a class="nav-link" href="/add-category">Add Category</a></li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>